@import "../abstracts/mixins";

.header--nav {
    background: linear-gradient(90.35deg, #034903 16.81%, #008000 80.55%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 60px;
    border-bottom: none;
    @include desktop-screen {
        background: linear-gradient(90.35deg, #034903 16.81%, #008000 80.55%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 40px;
       
    }
    @include tablet-screen {
        padding: 10px 40px;
    }

    @include mobile-screen {
        padding: 10px 40px;
    }


    &--logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.034px;
        @include desktop-screen {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0.034px;
        }                                                                                                 
    }
    &--ul {
        display: flex;
        @include mobile-screen {
            display: none;
        }
        @include tablet-screen {
            display: none;
        }
        &-list {
            display: flex;
            list-style: none;        
            align-items: center;
            list-style-type: none;
            & li {
                list-style: none;
                text-decoration: none;
                padding: 0px 30px;
                & a {
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }
    &--ul2 {
        display: flex;
        @include mobile-screen {
            display: none;
        }
        @include tablet-screen {
            display: none;
        }
        & ul {
            display: flex;
            list-style: none;
            padding: 0px 20px;
            align-items: center;
            list-style-type: none;
            
            
            & li {
                list-style: none;
                text-decoration: none;
                padding: 0px;

                & a {
                    color: $white;
                    text-decoration: none;
                }
            }
        }
        &--button {
            background-color: $white;
            width: 140px;
            height: 50px;
            border: $light-green;
            & a {
                color: $light-green;
                text-decoration: none;

            }
        }
    }
}

.header--nav--log--image_1 {
    width: 60.408px;
    height: 49.828px;
    flex-shrink: 0;
    @include desktop-screen {
        width: 70.408px;
        height: 69.828px;
        flex-shrink: 0;
    }
    @include mobile-screen {
        width: 23px;
        height: 23px;
        flex-shrink: 0;
    }
    @include tablet-screen {
        width: 22.852px;
        height: 22.418px;
    }
}

.header--nav--log--image_2 {
    width: 112.61px;
    height: 11.39px;
    @include desktop-screen {
        width: 112.61px;
        height: 11.39px;
    }
    @include mobile-screen {
        width: 36.61px;
        height: 5.66px;
    }
    @include tablet-screen {
        width: 22.852px;
        height: 7.418px;
    } 
}

.hamburger-button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1000;
    @include desktop-screen {
        display: none;
    }
    @include tablet-screen {
        display: block;
    }
    @include mobile-screen {
        display: block;
    }
  }
  
  .hamburger-button .hamburger-line {
    width: 30px;
    height: 3px;
    background: $white;
    margin: 6px 0;
  }
  
  /* mobile menu */
  .mobile-menu {
    position: fixed;
    list-style-type: none;
    text-decoration: none;
    top: 0;
    right: -300px;
    width: 250px;
    height: 100%;
    z-index: 100;
    background: linear-gradient(180deg, #034903 16.81%, #008000 80.55%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out;
    align-items: center;
    text-align: center;
    text-decoration: none;

    @include desktop-screen {
        display: none;
    }
  }
  
  .mobile-menu.active {
    right: 0;
  }
  
  .mobile-menu ul {
    margin-top: 100px;
    padding-right: 10px;
    text-decoration: none;
    list-style: none;
    
  }
  
  .mobile-menu ul li {
    margin: 10px 0;
    
  }
  
  .mobile-menu ul li a {
    font-size: 20px;
    transition: 0.3s;
    text-decoration: none;
    color: $white;
  }